<footer class="container" styless="margin-top: 100px;">
    <p class="text-center">Copyright @2016 Rails05
      <br>Design <body>
        <a href="http://courses.growthschool.com/course/rails_101/" target_new>xdite</a>
      </p>
    </footer>
